/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}


.main-buttons {
  column-gap: 15px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

}

@media (max-width: 480px) {

  .main-buttons {
    justify-content: space-around;
    row-gap: 5px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}